@model Website.Models.Person

@{
    ViewBag.Title = "addPerson";
}

<h2>Add a new person</h2>

<div class=".alert alert-info">
    @{
        if (ViewBag.msg != null)
        {
            <a>@ViewBag.msg</a>
        }
    }
</div>
@{
    Html.BeginForm("addPerson", "Person", FormMethod.Post,new { @class = "form-group" });
    {
        <div class="form-group">
            @Html.LabelFor(m => Model._name)
            @Html.TextBoxFor(m => Model._name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model._surname)
            @Html.TextBoxFor(m => Model._surname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model._age)
            @Html.TextBoxFor(m => Model._age, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model._age)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => Model._isAlive)
            @Html.RadioButtonFor(m => Model._isAlive, false, new { @class = "form-radio-control" })
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    Html.EndForm();
    };
}


<div>
    @Html.ActionLink("Go back to list", "PersonList")
</div>



