@model List<Website.Models.Person>

@{
    ViewBag.Title = "Person";
}

<table>
    <tr>
        <th> @Html.DisplayNameFor(model => model[0]._name) </th>
        <th> @Html.DisplayNameFor(model => model[0]._surname) </th>
        <th> @Html.DisplayNameFor(model => model[0]._age) </th>
        <th> @Html.DisplayNameFor(model => model[0]._isAlive) </th>

    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td> @Html.DisplayFor(p => person._name) </td>
            <td> @Html.DisplayFor(p => person._surname) </td>
            <td> @Html.DisplayFor(p => person._age) </td>
            <td> @Html.DisplayFor(p => person._isAlive) </td>
        </tr>
    }
        <tr>
            @using (Html.BeginForm())
            {
                <td>  @Html.TextBox("name") </td >
                <td>  @Html.TextBox("surname") </td>
                <td>  @Html.TextBox("age") </td>
                <td>  @Html.TextBox("isAlive") </td>
            }
        </tr>
        <tr>@Html.ActionLink("Add New Person", "addPerson")</tr>
    
</table>